<!-- we can use prime-ng, angular-material  -->
<!-- we can use a better structure than this and create a module for code editor  -->
<!-- we can use enhanced desgin for it and also best valiation  -->
<h2> Code Editor</h2>
<div>
    <label>Name for snippt : </label>
    <input [(ngModel)]="SegmentName" />
</div>
<div>
    <div class="col-md-6">
        <span>
            <label>Code : </label>
        </span>
    </div>
    <div class="col-md-6">
        <textarea [(ngModel)]="code" rows="10" cols="10">

    </textarea>
    </div>
</div>
<div>
    <button (click)="saveCode()">Save Code </button>
</div>