<nav class="navbar">
  <div class="container">
    <a class="logo" href="/">Dynamic Code Execution</a>
    <ul class="nav-links">
      <li><a href="/home" routerLink="/home" routerLinkActive="active-link">Home</a></li>
      <li><a href="/editor" routerLink="/editor" routerLinkActive="active-link">Code Editor</a></li>
      <li><a href="/list" routerLink="/list" routerLinkActive="active-link">Code List</a></li>
      <li><a href="/result" routerLink="/result" routerLinkActive="active-link">Execution Result</a></li>
    </ul>
  </div>
</nav>