<div class="list-container">
  <h2 class="list-title">Saved Code List</h2>
  <div class="table-responsive">
    <table class="styled-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Segment Name</th>
          <th>Code</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let snippet of snippets">
          <td>{{ snippet.id }}</td>
          <td>{{ snippet.segmentName }}</td>
          <td>{{ snippet.code }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
